.container{
  width: 800px;
  margin: auto;
  margin-top: 50px;
}
.phoneImage{
  display: inline-block;
  margin: 0px;
  text-align: center;
  width: 440px;
  border: 2px solid black;
}
.signUpForm{
  display: inline-block;
  width: 346px;
  float: right;
  text-align: center;
}
.phoneImage img{
  width: 400px;
  margin-top: 40px;
}
.imageHeader img{
  width: 250px;
}
.signUpText{
  width: 250px;
  color: #999;
  margin:auto;
  font-weight: bold;

}
body{
  font-family: sans-serif;
}
