.container{
  width: 800px;
  margin: auto;
  margin-top: 50px;
}
.phoneImage{
  display: inline-block;
  margin: 0px;
  text-align: center;
  width: 440px;
  border: 2px solid black;
}
.signUpForm{
  display: inline-block;
  margin: 0px;
  height: 200px;
  width: 346px;
  background: blue;
}
.phoneImage img{
  width: 400px;
  margin-top: 40px;
}
